.encabezado {
  background-color: #345b63;
  color: white;
  padding-top: 0.5em;
  padding-left: 1em;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}
.contenedor-padre {
  display: flex;
  align-items: center;
  margin-top: 10rem;
}
.ventas-por-sucursal,
.reportes {
  flex-basis: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
}
.ventas {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.contenido {
  font-size: 15px;
}
.boton-nueva-venta {
  margin: 10px;
}
.tabla-de-ventas {
  width: 100%;
}
.form-agregar-venta {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  z-index: 1000;
  left: 30%;
  top: 30%;
}
.form-agregar-venta-ocultar {
  display: none;
}
.contiene-botones-agregar-venta {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
.boton-cancelar,
.boton-aceptar {
  margin: 5px;
}
.form-editar-venta {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  z-index: 1000;
  left: 30%;
  top: 30%;
}
.form-editar-venta-ocultar {
  display: none;
}
.contiene-botones-editar-venta {
  display: flex;
  justify-content: flex-end;
}
